@charset "UTF-8";

.bl_card{
  display: inline-block;
  width: 100%;
  margin: 0;
  padding: 1%;
  border: 1px solid #4c4c4c;
  box-sizing: border-box;

  &+.bl_card{
    margin-top: 20px;
  }

  &_Ttl{
    margin: .3em 0;
    font-size: 2rem;
  }

  &_img{
    width: 100%;
    margin: .3em 0;
    margin-bottom: 10px;
    text-align: center;

    img{
      max-width: 100%;
      height: auto;
      vertical-align: top;
    }
  }

  &_txt{
    margin: .3em 0;
  }

  @media (max-width: 768px){
    &_Ttl{
      font-size: 1.6rem;
    }

    &_txt{
      font-size: 1.2rem;
    }
  }

}
